Do your work for these exercises in a jupyter notebook named `scaling`. Use the zillow dataset you acquired and prepped in previous lesson. Once you are finished, you may wish to repeat the exercises on another dataset for additional practice.

In [2]:
# import personal libraries
import wrangle as w
import explore as e

In [3]:
# select libraries to pull
w.print_libs()

import itertools -> iterations
import time -> time and date work
from tqdm import tqdm -> progress bars on for loopsimport pandas as pd -> large scale database work
import numpy as np -> advanced numerical work
import matplotlib.pyplot as plt -> plotting work
import seaborn as sns -> advanced and intuitive plotting
from scipy import stats -> statistical work
from pydataset import data -> list of datasets
import os -> operating system work
import warnings -> getting rid of pesky warnings
from sklearn import metrics -> model metrics
from sklearn.impute import SimpleImputer -> dynamic value filling
from sklearn.model_selection import train_test_split -> splitting datasets
from sklearn.tree import DecisionTreeClassifier, plot_tree -> DT modeling
from sklearn.neighbors import KNeighborsClassifier -> KNN modeling
from sklearn.ensemble import RandomForestClassifier -> RF modeling
from sklearn.linear_model import LogisticRegression -> LR modeling
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler -> scaling work

In [4]:
# import additional libraries
import itertools
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler

In [5]:
# import data
train,validate,test = w.wrangle_zillow()

Reading from file...

In [22]:
# check the data
w.df_info(train)

                nunique   dtypes  isnull      1511532
bedrooms             17    int64       0            3
bathrooms            37  float64       0          3.0
property_area      9540    int64       0         2793
property_value   446402    int64       0       541300
yearbuilt           149    int64       0         1941
taxamount        707961  float64       0      6623.92
fips                  3    int64       0         6037
county                3   object       0  Los Angeles

1. [ ] Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution .

In [24]:
# apply the MinMaxScaler
scaler = MinMaxScaler()

In [26]:
# apply the StandardScaler

In [ ]:
# apply the RobustScaler

2. [ ] Apply the `.inverse_transform` method to your scaled data. Is the resulting dataset the exact same as the original data?

3. [ ] Read the documentation for sklearn's `QuantileTransformer`. Use `normal` for the `output_distribution` and apply this scaler to your data. Visualize the result of your data scaling.

4. [ ] Use the `QuantileTransformer`, but omit the `output_distribution` argument. Visualize your results. What do you notice?

5. [ ] Based on the work you've done, choose a scaling method for your dataset. Write a function within your `prepare.py` that accepts as input the train, validate, and test data splits, and returns the scaled versions of each. Be sure to only learn the parameters for scaling from your training data!